---
layout: page
title: "About"
description: "Hey, this is Qin."
header-img: "img/background-color.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <p>Hello, this is <strong>Qin</strong>, a PhD candidate in CS, the George Washington University. My research interstes include mobile networks, IoT security and game theory.</p>

    <p>I do exercise every day and I love cooking and video editing in my leisure time. I own a WeChat subscription named DailyEating. You can talk with me here.</p>

    <p></p>
    
    <h5>Publications</h5>

    <p>
        <li><strong>Hu Q</strong>, Wang S, Bie R, et al. <a href="http://www.mdpi.com/1424-8220/17/5/1012/htm">Social Welfare Control in Mobile Crowdsensing Using Zero-Determinant Strategy[J].</a> Sensors, 2017, 17(5): 1012.
</li>
        <li><strong>Hu Q</strong>, Wang S, Ma L, et al. <a href="https://ieeexplore.ieee.org/abstract/document/7980054/">Anti-Malicious Crowdsourcing Using the Zero-Determinant Strategy[C]</a>//Distributed Computing Systems (ICDCS), 2017 IEEE 37th International Conference on. IEEE, 2017: 1137-1146.</li>
        <li><strong>Hu Q</strong>, Wang S, Ma L, et al. <a href="https://dl.acm.org/citation.cfm?id=2942402">Solving the crowdsourcing dilemma using the zero-determinant strategy: poster[C]</a>//Proceedings of the 17th ACM International Symposium on Mobile Ad Hoc Networking and Computing. ACM, 2016: 373-374.</li>
        <li><strong>Hu Q</strong>, Wang S, Bie R, et al. <a href="https://ieeexplore.ieee.org/abstract/document/7249533/">Low Price to Win: Interactive scheme in cooperative cognitive radio networks[C]</a>//Communications (ICC), 2015 IEEE International Conference on. IEEE, 2015: 7546-7551.</li>
        <li>Wang S, <strong>Hu Q</strong>, Sun Y, et al. <a href="https://ieeexplore.ieee.org/abstract/document/8316781/">Privacy Preservation in Location-Based Services[J].</a> IEEE Communications Magazine, 2018, 56(3): 134-140.</li>
        <li>Huang J, <strong>Hu Q</strong>, Bi J, et al. <a href="https://link.springer.com/chapter/10.1007/978-3-319-42836-9_34">Stackelberg game based incentive mechanism for data transmission in mobile opportunistic networks[C]</a>//International Conference on Wireless Algorithms, Systems, and Applications. Springer, Cham, 2016: 377-388.</li>
        <li>Yao D, Zhang C, Zhu Z, et al. <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/exsy.12252">Learning deep representation for trajectory clustering[J].</a> Expert Systems, e12252.</li>
    </p>
   
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

